
.detailTitle{
    color: #9fd5d1;
}

.detailBtn_custom{
    border: solid #9fd5d1 1px;
    color: #6bbeb8;
}

.detailBtn_custom:hover{
    background-color: #9fd5d1;
    border: solid #9fd5d1 1px;
    color:white;
}
